{{ partial "header.html" . }}
<style type="text/css">
	.project img{
		height: 200px;
		width: 200px;
	}

	.project h2{
		text-align: center;
	}

	.details{
		display: flex;
		flex-direction: column;
		padding: auto
	}

	.details div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.details ul{
		display: flex;
		flex-direction: row;;
		list-style: none;
		justify-content: space-around;
	}
	
</style>
<section id="list-pane" class="row list project">
	<!-- The range is set to all pages in this section of the page-->
 	{{ range .Pages}}
 		<ul>
 			<div class="row">
	 			<li><a href="{{.URL}}"><h2>{{.Title}}</h2></a></li>
		 		<div class="row">
			 		<div class="col-md-6">
			 			<img src="{{.Params.image}}">
			 		</div>
		 			<div class="col-md-6 details">
		 				<div>
		 					<p><i>Languages</i></p>
			 				<p>{{.Params.languages}}</p>
			 			</div>
			 			<ul>
			 				<li><a href="{{.Params.github}}" class="fab fa-github fa-2x"></a></li>
			 				<li><a href="{{.Params.website}}" class="fas fa-link fa-2x"></a></li>
			 			</ul>
			 		</div>
			 	</div>
 			</div>
		</ul>
		<hr>
 	<!-- Closes the loop -->
 	{{end}}
</section>

{{ partial "menu.html" . }}

{{ partial "footer.html" . }}
